*{
  box-sizing: border-box;
}
body {
  background-color: rgb(238, 236, 236);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
  
}
.container {
  background-color: white;
  max-width: 1280px;
  margin: auto;
  padding-bottom: 10px;
}